@tailwind base;
@tailwind components;
@tailwind utilities;

.mic {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 33px;
  border: none;
  border-radius: 50%;
  transition: background-color 0.25s;
}

.mic::before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
}

.mic-listening::before {
  animation: listening 1.5s infinite;
}

@keyframes listening {
  from {
    opacity: 1;
  }
  to {
    transform: scale(1.25);
    opacity: 0;
  }
}
